*{
    padding: 0;
    margin: 0;
}
nav{
    background-image: url(../images/header-bg.jpg.jpg);
    background-repeat: no-repeat;
    height: 95vh;
    background-size: cover;
    background-position: 0% 0%;
    background-size: 100% 100%;
    background-color: #759FDB;
    background-blend-mode: multiply;
    padding: 20px 20px; 
     /* display: flex; 
    /* flex-direction: row;
    align-items: flex-start;
      */
    
    
    
}
nav div{
     text-align: center;   
    width: fit-content;
    margin-left: 350px;
    
    


    

   
}


nav a{
    color: white;
    text-decoration: none;
    padding-left: 20px;
    



}
nav div a:hover{
    text-decoration: underline;
    cursor: pointer;
   

}
button{
    /* float: right; */
   color: white;
   height: 30px;
   width: 70px;
   background-color: rgb(88, 114, 197);
   border: 0;
   border-radius: 30px;
   

   
   
}


.button{
    float: right;
}